#about-me-card img{
   border-radius: 100%;
   position: absolute;
   left: calc(50% - 84px);
   top: -84px;
}

#about-me-card h2{
   margin-top: 100px;
}

#about-me-card p{
   max-width: 560px;
   margin: 0 auto;
   margin-bottom: 13px;
}

.about:first-of-type{
   margin-top: 110px;
}

.about-icon{
   font-size: 96px;
}

#skill-list-title
{
   margin-top: 40px;
   margin-bottom: 40px;
   text-align: center;
}


#skill-list li{
   display: inline-block;
   margin: 0 10px;
   text-align: center;
}

#skill-list h5{
   display: block;
   text-align: center;
   -webkit-margin-before: 0;
   -webkit-margin-after: 0;
}
#skill-list .row{
   text-align: center;
   margin-bottom: 45px;
}

/*#skill-list p{
   display: inline-block;
   vertical-align: bottom;
   position: absolute;
   left: 86px;
   margin-top: 30px;
}*/

.about .grid .grid-item, .about .grid .grid-sizer{
   margin-bottom: 10px;
}

@media (min-width: 550px)
{
   .about .grid .row{
      display: flex;
      align-items: stretch;
   }

}



.about .grid .grid-item .image-wrapper{
   position: relative;
   z-index: 1;
   background-color: inherit;
}

.about .grid .grid-item .image-cut{
   width: 110%;
    height: 65px;
    position: absolute;;
    bottom: -17px;
    background-color: inherit;
    transform: rotate(8deg);
    left: -7%;
}

.about .grid h2{
   font-size: 25px;
   font-weight: 700;
   margin-top: 10px;
}

.about .grid .card .card-content p{
   font-size: 13px;
}

.about .grid .card .date, .about .grid .card .issuer{
   font-weight: 300;
   font-size: 14px;
}

.about .grid .card.gold{
   background-color: #D4AF37;
}

.about .grid .card.silver{
   background-color: #c0c0c0;
}

.about .grid .card.bronze{
   background-color: #cd7f32;
}
