/*.sidebar-hamburger{
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000;

	i{
		font-size: 41px;
		cursor: pointer;
		color:#fff;
	}
}

.sidebar-hamburger.mobile{
	display: block;
}*/

.sidebar-hamburger{
	position: absolute;
	width: 74px;
	height: 61px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	 box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	background: none;
	top: 0px;
	z-index: -1;

  &:focus{
  	  outline: none;
  }

  span {
	 display: block;
	 position: absolute;
	 left: 18px;
	 right: 18px;
	 height: 4px;
	 background: white;
  }

  span::before,
  span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";

	 transition-duration: 0.3s, 0.3s;
	 transition-delay: 0.3s, 0s;
  }

  span::before {
    top: -11px;

	 transition-property: top, transform;
  }

  span::after {
    bottom: -11px;

	 transition-property: bottom, transform;
  }

  &.mobile
  {
	  z-index: 1000;
  }

}


.sidebar-hamburger.is-active span {
  background: none;
}

.sidebar-hamburger.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.sidebar-hamburger.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.sidebar-hamburger.is-active span::before,
.sidebar-hamburger.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.sidebar-hamburger.mobile{

}



.sidebar_overlay{
	position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 101%;

	background-color: #000;
   opacity: 0;
   transition: all 0.2s;
}

header{
	position: fixed;
	top: 0;
	width: $sidebar_width;
	background-color: #0097A7;
	height: 100%;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	z-index: 102;
	transition: left 0.2s;
}

header.mobile
{
	padding-top: 48px;
	width: $sidebar_resize_width;
}

header .image-wrapper{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 15px;
}

header .image-wrapper h2{
	color:#fff;
}

header .image-wrapper img{
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

header nav a{
	display: block;
	color:#fff;
	height: 48px;
	font-size: 22px;
	line-height: 48px;
	padding: 0;
	padding-left: 16px;
	padding-right: 56px;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header nav a.active, header nav a:hover{
	color: #fff;
	background-color: #006064;
	padding-left: 10px;
}

header nav a i{
	padding-right: 15px;
    font-size: 22px !important;
    line-height: 48px !important;
    position: relative;
    top: 1px;
	 color:inherit;
}

header nav a:nth-child(1){
	color:#fff;
}
header nav a:nth-child(2){
	color:#fff;
}
header nav a:nth-child(3){
	color:#fff;
}
header nav a:nth-child(4){
	color:#fff;
}


/*header nav a:nth-child(1){
	color:rgb(244, 67, 54);
}
header nav a:nth-child(2){
	color:rgb(251, 192, 45);
}
header nav a:nth-child(3){
	color:rgb(33, 150, 243);
}
header nav a:nth-child(4){
	color:rgb(76, 175, 80);
}*/
