.content-wrapp{
   margin-left: $sidebar_width;
   margin-top: 50px;
   transition: margin 0.2s;
}
#start-page-image div
{
   position: fixed;
   top: 0;
   left: 0;
   min-width: 101%;
   min-height: 101%;
}

#start-page-background-image
{
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   z-index: -1;
   background-image: url('../img/start-page-image.jpg');
   transition: all 0.2s;
   -webkit-filter: blur(5px);
   -o-filter: blur(5px);
   filter: blur(5px);
}

#start-page-image .overlay
{
   background-color: #000;
   opacity: 0.45;
   transition: all 0.2s;
}

#start-page-image span:nth-child(1)
{
   color: #fff;
    z-index: 100;
    position: absolute;
    font-size: 45px;
    top: 30%;
    left: 30%;
    line-height: 45px;

    @media screen and (max-width: 876px) {
        font-size: 35px;
        line-height: 35px;
        left: 20%;
    }
    @media screen and (max-width: 681px) {
    font-size: 25px;
    line-height: 25px;
    }
}

.grid{
   margin: 0 auto;
}

.projects .grid .grid-item, .projects .grid .grid-sizer{
   width: 310px;
   margin-bottom: 10px;
}

.card{
   box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
   background-color: #fff;
   overflow: hidden;
}

.card img{
   max-width: 100%;
}

.card .card-content
{
   position: relative;
   z-index: 10;
   padding: 8px
}

.card .card-content h2{
   margin-bottom: 10px;
   font-weight: 400;
}

.card .card-content p{
   margin-bottom: 12px;
}

.card .card-content button
{
   background-color: #0097A7;
   color:#fff;
   margin-top: 4px
}

.projects .grid .grid-item .image-wrapper{
   position: relative;
   z-index: 1;
   background-color: inherit;
}

.projects .grid .grid-item .image-cut{
   width: 110%;
    height: 65px;
    position: absolute;;
    bottom: -17px;
    background-color: inherit;
    transform: rotate(8deg);
    left: -2%;
}

.grid .card .card-content{
   margin-top: -50px;
}
