header{
	position: fixed;
	top: 0;
	width: $sidebar_width;
	background-color: #0097A7;
	height: 100%;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

header .image-wrapper{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 15px;
}

header .image-wrapper h2{
	color:#fff;
}

header .image-wrapper img{
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

header nav a{
	display: block;
	color:#fff;
	height: 48px;
	font-size: 22px;
	line-height: 48px;
	padding: 0;
	padding-left: 16px;
	padding-right: 56px;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header nav a.active, header nav a:hover{
	color: #fff;
	background-color: #006064;
	padding-left: 10px;
}

header nav a i{
	padding-right: 15px;
    font-size: 22px !important;
    line-height: 48px !important;
    position: relative;
    top: 1px;
	 color:inherit;
}

header nav a:nth-child(1){
	color:#fff;
}
header nav a:nth-child(2){
	color:#fff;
}
header nav a:nth-child(3){
	color:#fff;
}
header nav a:nth-child(4){
	color:#fff;
}

/*header nav a:nth-child(1){
	color:rgb(244, 67, 54);
}
header nav a:nth-child(2){
	color:rgb(251, 192, 45);
}
header nav a:nth-child(3){
	color:rgb(33, 150, 243);
}
header nav a:nth-child(4){
	color:rgb(76, 175, 80);
}*/
