.content-wrapp{
   margin-left: $sidebar_width;
   margin-top: 50px;
}
#start-page-image div
{
   position: fixed;
   top: 0;
   left: $sidebar_width - 1%;
   min-width: 100% - $sidebar_width + 2%;
   min-height: 101%;
}

#start-page-background-image
{
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   z-index: -1;

   /*-webkit-filter: blur(5px);
   -o-filter: blur(5px);
   filter: blur(5px);*/
}

#start-page-image .overlay
{
   background-color: #000;
   opacity: 0.45;
}

#start-page-image span:nth-child(1)
{
   color: #fff;
    z-index: 100;
    position: absolute;
    font-size: 45px;
    top: 30%;
    left: 30%;
    line-height: 45px;
}

.grid{
   margin: 0 auto;
}
 
.grid .grid-item, .grid .grid-sizer{
   width: 310px;
   margin-bottom: 10px;
}

.card{
   box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
   background-color: #fff;
   overflow: hidden;
}

.card img{
   max-width: 100%;
}

.card .card-content
{
   position: relative;
   z-index: 10;
   padding: 8px;
}

.card .card-content button
{
   background-color: #0097A7;
   color:#fff;
}

.grid .grid-item .image-wrapper{
   position: relative;
   z-index: 1;
}

.grid .grid-item .image-cut{
   width: 110%;
    height: 65px;
    position: absolute;;
    bottom: -17px;
    background-color: #fff;
    transform: rotate(8deg);
    left: -2%;
}

.grid .card .card-content{
   margin-top: -50px;
}
